.header {
  background: #012d63;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 93px;
}
.header_navigation {
  display: flex;
}

.header_navigation li {
  color: #c7c7c7;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 300;
  margin-right: 29px;
}

.header_navigation li:hover {
  color: #fff;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 400;
}

.header_lenguage_wrapper {
  display: flex;
}

.header_lenguage_p {
  color: #dcdcdc;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 300;
  margin-right: 10px;
}

.header_lenguage_p:hover {
  color: #fff;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 400;
}
